.Zeedonk-completion {
  padding-left: 22px;
  position: relative;
  line-height: 1.5;
}
.Zeedonk-completion:before {
  position: absolute;
  top:0px;
  left: 0px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 14px;
  width: 14px;
  line-height: 15px;
  text-align: center;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.F-Zeedonk-completion:before {
  content: "F";
  background: #0a0;
}

.P-Zeedonk-completion:before {
  content: "P";
  background: #f55;
}

.M-Zeedonk-completion:before {
  content: "M";
  background: #55f;
}

.V-Zeedonk-completion:before {
  content: "v";
  background: #099;
}

.E-Zeedonk-completion:before {
  content: "E";
  background: #833;
}

.T-Zeedonk-completion:before {
  content: "T";
  background: #00f;
}


.C-Zeedonk-completion:before {
  content: "C";
  background: #fff;
  color: #000;
}
  
.Col_BLACK-Zeedonk-completion:before {
  content: " ";
  background: #000;
  color: #fff;
}

.Col_GREY-Zeedonk-completion:before {
  content: " ";
  background: #9D9D9D;
  color: #000;
}

.Col_GRAY-Zeedonk-completion:before {
  content: " ";
  background: #9D9D9D;
  color: #000;
}

.Col_WHITE-Zeedonk-completion:before {
  content: " ";
  background: #fff;
  color: #000;
}

  .Col_RED-Zeedonk-completion:before {
  content: " ";
    color: #fff;
    background: #BE2633;
  }
  .Col_PINK-Zeedonk-completion:before {
    content: " ";
    color: #fff;
    background: #E06F8B;
  }
  .Col_DARKBROWN-Zeedonk-completion:before {
    content: " ";
    color: #fff;
    background: #493C2B;
    border: 1px solid black;
  }
  .Col_BROWN-Zeedonk-completion:before {
    content: " ";
    color: #fff;
    background: #A46422;
  }
  .Col_ORANGE-Zeedonk-completion:before {
    content: " ";
    color: #fff;
    background: #EB8931;
  }
  .Col_YELLOW-Zeedonk-completion:before {
    content: " ";
    color: #fff;
    background: #F7E26B;
  }
  .Col_DARKGREEN-Zeedonk-completion:before {
    content: " ";
    color: #fff;
    background: #2F484E;
    border: 1px solid black;
  }
  .Col_GREEN-Zeedonk-completion:before {
    content: " ";
    background: #44891A;
  }
  .Col_LIGHTGREEN-Zeedonk-completion:before {
    content: " ";
    background: #A3CE27;
  }
  .Col_NIGHTBLUE-Zeedonk-completion:before {
    content: " ";
    background: #1B2632;
  }
  .Col_DARKBLUE-Zeedonk-completion:before {
    content: " ";
    background: #005784;
  }
  .Col_BLUE-Zeedonk-completion:before {
    content: " ";
    background: #31A2F2;
  }
  .Col_LIGHTBLUE-Zeedonk-completion:before {
    content: " ";
    background: #B2DCEF;
  }
  .Col_MAGENTA-Zeedonk-completion:before {
    content: " ";
    background: #FF00FF;
  }
  
  .Col_TRANSPARENT-Zeedonk-completion:before {
    content: " ";
    background: #fff;
  }


.CodeMirror-Zeedonk-tooltip {
  border: 1px solid silver;
  border-radius: 3px;
  color: #E6E1DC;
  padding: 2px 5px;
  font-size: 90%;
  font-family: monospace;
  background-color: #404040;
  white-space: pre-wrap;

  margin-left: 3px;

  max-width: 40em;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}


.CodeMirror-Zeedonk-hint-doc {
  max-width: 25em;
  margin-top: -3px;
}