.TerryLib-completion {
  padding-left: 22px;
  position: relative;
  line-height: 1.5;
}
.TerryLib-completion:before {
  position: absolute;
  top:0px;
  left: 0px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 14px;
  width: 14px;
  line-height: 15px;
  text-align: center;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.F-TerryLib-completion:before {
  content: "F";
  background: #0a0;
}

.P-TerryLib-completion:before {
  content: "P";
  background: #f55;
}

.M-TerryLib-completion:before {
  content: "M";
  background: #55f;
}

.V-TerryLib-completion:before {
  content: "v";
  background: #099;
}

.E-TerryLib-completion:before {
  content: "E";
  background: #833;
}

.T-TerryLib-completion:before {
  content: "T";
  background: #00f;
}

.C-TerryLib-completion:before {
  content: "C";
  background: #fff;
  color: #000;
}



.CodeMirror-TerryLib-tooltip {
  border: 1px solid silver;
  border-radius: 3px;
  color: #E6E1DC;
  padding: 2px 5px;
  font-size: 90%;
  font-family: monospace;
  background-color: #404040;
  white-space: pre-wrap;

  margin-left: 3px;

  max-width: 40em;
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);

  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
}


.CodeMirror-TerryLib-hint-doc {
  max-width: 25em;
  margin-top: -3px;
}